header {
    //text-align: center;
    @include centerThing;
    overflow: hidden;
    .logo {
             @include centerThing;
             padding-top: 9rem;
    }
}
.selector {
    background-color: white;
    color: black;
}
 
.select {
    margin-top: 2rem;
    @include centerThing;
 
    p {
            @include centerThing;
            padding-bottom: .4rem;
     }
}
li a{
    text-decoration: none;
}
@media (min-width: $tablet){
     header {
          display:inline-flex;
          justify-content:space-between;
          align-items:center;
          align-content:center;
          .logo {
              transform: translateX(50px);
          }
          .select {
              transform: translateX(100px);
              width: 300px;
          }
     }
}

.headerCompact {
    margin: 25px;
    img {
        width: 150px;
    }
    .logo {
        padding-top:0;
    }
    .select {
       //width: 200px;
        margin: 0 auto;
        @include centerThing;
    }
     

}
