header {
    @include centerThing;
    transition: $ease-in;
    overflow: hidden;
    .logo {
             @include centerThing;
             padding-top: 9rem;
    }
}
.selector {
    background-color: white;
    color: black;
}
 
.select {
    margin-top: 2rem;
    @include centerThing;
 
    p {
            @include centerThing;
            padding-bottom: .4rem;
     }
}
li a{
    text-decoration: none;
}
@media (min-width: $tablet){
     header {
          display:inline-flex;
        //   justify-content:space-between;
          align-items:center;
          align-content:center;
          width: 100%;
          @keyframes moveRight {
             0% {
                transform: translate(0, 0);    
             }
            100% {
                transform: translate(20px, 0);
            }
          }    
         @keyframes moveLeft {
             0% {
                transform: translate(10px, 0);    
             }
            100% {
                transform: translate(0, 0);
            }
          }       
          .select {
                padding-top: 5rem;
                margin-left: 0.5rem;
                animation: moveRight 3s forwards;
                animation-direction: alternate;
          }
          .logo {
                animation: moveLeft 3s forwards;
                animation-direction: alternate; 
          }
     }
}

.headerCompact {
    margin: 25px;
    img {
        width: 150px;
    }
    .logo {
        padding-top:0;
    }
    .select {
        padding-top: 3rem;
        margin: 0 auto;
        @include centerThing;
        margin-left: 1rem;
    
    }

}
