header {
    //text-align: center;
    @include centerThing;
    overflow: hidden;
    .logo {
             @include centerThing;
             padding-top: 9rem;
    }
}
.selector {
    background-color: white;
    color: black;
}
 
.select {
    margin-top: 2rem;
    @include centerThing;
 
    p {
            @include centerThing;
            padding-bottom: .4rem;
     }
}
li a{
    text-decoration: none;
}
@media (min-width: $tablet){
     header {
          display:inline-flex;
          justify-content:space-between;
          align-items:center;
          align-content:center;
          .logo {
              padding-right: 1rem;
              padding-left: 4rem;
          }
          .select {
              padding-top:4rem;
              padding-left:1rem;
          }
     }
}


