.newsContainer {
    @include centerThing;
    .loading {
        padding-bottom: .5rem;
        transform: scale(0.02);
    }
    .newsGrid {
        margin-top: 0.5rem;
        .news  >li > a{
            text-decoration:none;
            p {
                text-align: left;
            } 
        }
    }
}
@media (min-width: $tablet) {
  .newsGrid >ul >li {
      width: 50%;
      min-width: 300px;
      display:inline-flex;
      flex-wrap: wrap;
  }
}

@media (min-width: $desktop) {
  .newsGrid >ul >li {
      width: 25%;
      //min-width: 300px;
      display:inline-flex;
      flex-wrap: wrap;
  }
}

 